
.Thirdcomp{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.galaxys .newsb{
    width: 40px;
    position: absolute;
    top: 30%;

}

.arrow{
    width: 40px;
    margin-left: 20rem;
}

.Thirdcomp h3{
    font-size: 50px;
}


.galaxys img{
    width: 22rem;

}

.fourthComp img{
    width: 22rem;
}

.p-div{
    width: 50%;
}

.rowse .icondiv {
    text-align: right;
}

.rowse .icondiv{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 18px 0;
}

.p-div p{
    font-size: 20px;
}

.fourthComp{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    position: relative;
}

.textdiv{
    width: 30%;
    position: relative;
}

.crypto{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    position: relative;
}

.crypto h2{
    width: 30rem;
    margin-left: 5rem;
    margin-top: 5rem;
}


.arrow1{
    position: absolute;
    width:  10%;
    top: 10%;
    left: 25%;
}

.live{
    position: absolute;
    width:  10%;
    top: 80%;
    left: 25%;
}

.bitcoin{
    position: absolute;
    width:  10%;
    top: 10%;
    left: 59%;
}

.eth{
    position: absolute;
    width:  10%;
    top: 70%;
    right: 10%;
}

.video{
    position: absolute;
    width:  7%;
    top: 70%;
    right: 50%;
}

.head{
    position: absolute;
    width:  7%;
    top: 20%;
    right: 10%;
}

.journey{
    height: 70vh;
    width: 100%;
    margin-top: 10rem;
    position: relative;
}

.journey h1{
    margin-left: 8rem;

}

.journey img{
    width: 70rem;
    margin-left: 10rem;
}

.fourthComp-one .wallet{
    width: 2.5rem;
    position: absolute;
    bottom: 30%;
}

.textdiv p{
    font-size: 20px;
}

.textdiv .zag{
    position: absolute;
    width: 4rem;
     right: 5%;
}



@media screen and (max-width: 1000px){
    .Thirdcomp{
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
    }

    h3{
        margin: 0 30px;
    }
    .p-div{
        width: 80%;
        margin: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

}

@media screen and (max-width: 700px){
.fourthComp{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

 .galaxys .lil{
    width: 2rem;
    margin-left: 20rem;
}

.textdiv{
    width: 70%;
}

.galaxys .os{
    margin-left: 59px;
}


.cryptobox{
    width: 100%;
  
}

.crypto {
  height: 50vh;
}

.crypto h2{
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    margin-left: 1rem;
   font-size: 24px;
    

}
.journey{
    height: 50vh;
    width: 100%;
    margin-top: 3rem;
    position: relative;
}

.journey h1{
    margin-left: 1rem;
    font-size: 1.5rem;
}
   
.journey img{
    width: 20rem;
    margin-left: 2rem;
}
.video{
    position: absolute;
    width:  10%;
    top: 80%;
    right: 50%;
}

}


.footer{
    height: 35vh;
    width: 100%;
    background-color: black;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.footer img{
    width: 10rem;
}

.footer .lo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11%;
}

.rows{
    height: 20vh;
    width: 10rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rowse{
    height: 15vh;
    width: 10rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 700px){
    .footer{
        height: 30vh;
        width: 100%;
        background-color: black;
        margin-top: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        color: aliceblue;
    }

    .footer .lo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
    }

    .footer .rows{
        width: 90%;
    }

    
    .footer .rowse{
        width: 30%;
    }

    .rowse .icondiv{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
    }

    .footer h2{
        font-size: 20px;
        width: 100%;
    }
}