
.home-body{
    background: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
 
}

.home-body h1{
    font-size: 89px; font-weight: 500;
}

.ha{ position: absolute; width: 2rem; left: 50%; top: 30%;}
.hb{position: absolute; width: 2rem; right:10%; top: 30%;}
.hash{
    position: absolute; width: 4rem; left: 30%; top: 30%;
}



.home-body-one{
    width: 70%;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 4%;
}



.home-body-two{
    width: 50%;
    height: 100%;
    display: flex;
    overflow-y: scroll;

}

.home-body-one .text{
    height: 100%;
   
}

.home-body-one h1{
    font-size: 3.5rem;
    line-height: 5rem;
}

.text h1{
    margin-bottom: 10px;
}

.dash{
    position: absolute; width: 10rem; left: 10%; top: 5%;
}

.text span{
    background: linear-gradient(90deg, #E85353 0%, #3664F4 100%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
  width: 10px;
 
  animation: fadeInOut 2s;
  -webkit-animation: fadeInOut 2s;
  -moz-animation: fadeInOut 2s;
  -o-animation: fadeInOut 2s;
  -ms-animation: fadeInOut 2s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.home-body-one .text  img{
  margin-bottom: 40px;
}

a{
  background: linear-gradient(90deg, #E85353 0%, #3664F4 100%);
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  border: solid 0px none;
  cursor: pointer;

}

.home-body-two{
    overflow: clip;
}
.home-body-two img{
    width: 20rem;
}

.home-body-two img:nth-child(1){
    position: absolute;
    top: 10%;
    right: 25%;
  
}

.home-body-two img:nth-child(2){
    position: absolute;
    top: 28%;
    right: 10%;
  
}

.home-body-two img:nth-child(3){
    position: absolute;
    top: 59%;
    right: 35%;
  
}

.home-body-two img:nth-child(4){
    position: absolute;
    top: 79%;
    right: 20%;
    
 
}

@media screen and (max-width: 850px){
    .home-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 90vh;
    
        overflow-x: hidden;
    }

    .home-body-one{
        width: 70%;
        height: 80vh; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        
    }

    .home-body-two img:nth-child(1){
        position: absolute;
        top: 50%;
        left: 0%;
      
    }

    .home-body-two img:nth-child(2){
        position: absolute;
        top: 50%;
        left: 45%;
      
    }

    .home-body-two img:nth-child(3){
        position: absolute;
        bottom: 0%;
        left:0%;
        top: 80%;
      
    }

    .home-body-two img:nth-child(4){
        position: absolute;
        bottom: 0%;
        left: 45%;
        top: 80%;
      
    }

    @media screen and (max-width: 599px){
        .home-body{
            height: 105vh;
        
        }
        .hash{
            position: absolute; width: 4rem; left: 50%; top: 15%;
        }

        .text h1{
            font-size: 40px;
        }

        .home-body-one .text{
            height: 50vh;
            width: 100%;
        }

        .home-body-one{
            width: 100%;
            height: 50vh; 
            position: relative;
            margin-left: 4%;
        }

        .ha{
            position: absolute;
            width: 2rem;
            left: 50%;
            top: 50%;
        }
    }

    @media screen and (max-width: 375px){
        .home-body{
            height: 150vh;
        
        }
    }
    
}

